 /* estilo de la página  producto  */
.product_contenedor{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    background-color: rgba(37, 61, 85, 0.93);
   

}
.product_items{
flex-direction: column;
margin: 2%;
width: 50%;
background-color: slategrey;
padding: 30px;
border-radius:5px ;
box-shadow:  7px 5px 10px  rgba(0, 0, 0, 0.743);
justify-content: center;
align-items: center;
color: white;
cursor: pointer;
}
.product_items:hover {
    background-color: #43434311;
}
.product_items:active {
    background-color: black;
}
.product_items:visited{
   opacity: .65;
}
.paar_items h3,p{
    color: white;
}

 /* estilo de la página  Pagar  */
 .pagar_raiz{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    
 }

.pagar_img{
    width: 30%;
}

.pagar_contenedor{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    min-width: 33%;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(37, 61, 85, 0.93);

}
.pagar_items{

flex-direction: column;
margin: 5%;
width: 100%;
background-color: slategrey;
padding: 30px;
border-radius:5px ;
box-shadow:  7px 5px 10px  rgba(0, 0, 0, 0.743);
justify-content: center;
align-items: center;

}

.pagar_img{
    width: 70%;
}
form{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
}
form  label input{
    margin: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}
label{
    font-size: 25px;
    padding: 10px;
    margin: 5px;
}
.seleccionada__contenido{
    display: flex;
    width: 100%;
    margin: 20px;
    /* border: 1px solid black; */
    /* background-color: rgba(181, 168, 168, 0.25); */

}
.seleccionada__caja-mezcla{
 width: 50%;
 border: solid 2px white;
 background-color: rgb(70, 91, 111);
 padding: 15px;
 margin: 15px;
 box-shadow: 2px 3px 15px black;
}
.seleccionada__caja-bebida{
 width: 50%;
 border: solid 2px white;
 background-color: slategrey;
 padding: 15px;
 margin: 15px;
 box-shadow: 2px 3px 15px black;

}

/* ******** */
/* Pagada  */
.pagada__exito-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pagada__exito-icon{
    width: 100%;
    font-size: 200px;
    
}
